GRAPH_STUDIO_TOKEN=CHANGEME
GRAPH_TOKEN_arbitrum=CHANGEME
GRAPH_TOKEN_ethereum=CHANGEME
GRAPH_TOKEN_fantom=CHANGEME
GRAPH_TOKEN_polygon=CHANGEME
GRAPH_TOKEN_price_snapshot=CHANGEME

ENVIO_ARBITRUM_RPC_URL=https://arbitrum.rpc.subquery.network/public
ENVIO_ARBITRUM_FALLBACK_RPC_URL=https://arbitrum-one.public.blastapi.io
ENVIO_ARBITRUM_FALLBACK_RPC_URLS=https://arbitrum-one.public.blastapi.io
ENVIO_BERACHAIN_RPC_URL=https://rpc.berachain.com
ENVIO_BERACHAIN_FALLBACK_RPC_URLS=

ENVIO_RPC_HTTP_BATCH_SIZE=1
ENVIO_RPC_MULTICALL_BATCH_SIZE=128
ENVIO_RPC_TIMEOUT_MS=30000

# Keeps sparse 8-hour Envio block handlers from scanning too far before queueing work.
ENVIO_INDEXING_MAX_BUFFER_SIZE=8
