# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  pull_request:
    types: [opened, synchronize, reopened]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    strategy:
      matrix:
        # We want to test the shared code too
        network: [ethereum, arbitrum, polygon, shared]
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Install dependencies
      - name: Install
        run: |
          yarn install --frozen-lockfile

      # Run build
      - name: Build
        run: yarn subgraph build ${{ matrix.network }}

      # Run tests
      - name: Unit Tests
        run: yarn subgraph test ${{ matrix.network }}
